.j51_icons798 i,
        .j51_icons798 [class^="fa-"]::before,
        .j51_icons798 [class*=" fa-"]::before {
            font-size: 44px;
        }

        .j51_icons798 img {
            max-width: 44px;
        }

        .j51_icons798 .j51_icon {
            flex: 0 0 50%;
            max-width: 50%;
            min-height: 88px;
        }

        .j51_icons798 .j51_icon {
            padding: 15px 10px;
        }

        .j51_icons798 .boxed figure {
            background-color: #e6e6e6;
        }

        @media only screen and (min-width: 960px) and (max-width: 1280px) {
            .j51_icons798 .j51_icon {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 959px) {
            .j51_icons798 .j51_icon {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        @media only screen and ( max-width: 767px) {
            .j51_icons798 .j51_icon {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        @media only screen and (max-width: 440px) {
            .j51_icons798 .j51_icon {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .j51_icons798 {
            margin: -15px -10px;
        }

        .j51_icons798 i,
        .j51_icons798 img {
            width: 44px;
        }

        :root {
            --primary: #21b0b0;
            --primary-color: #21b0b0;
            --secondary-color: #d06f35;
            --mobile-menu-bg: #141414;
            --mobile-menu-toggle: #adadad;
        }

        body,
        .hornav ul ul,
        .hornav ul ul a {
            color: #000000;
        }

        body,
        .hornav ul ul,
        .hornav ul ul a {
            font-family: Raleway, Arial, Verdana, sans-serif;
            font-size: 16px;
        }

        a {
            color: #21b0b0;
        }

        h1 {
            color: #0d1724;
            font-family: Raleway, Arial, Verdana, sans-serif;
        }

        h2,
        h2 a:link,
        h2 a:visited {
            color: #0d1724;
            font-family: Raleway, Arial, Verdana, sans-serif;
        }

        h3,
        .module h3,
        .module_menu h3,
        .btn,
        button {
            color: #3d3d3d;
            font-family: Raleway, Arial, Verdana, sans-serif;
        }

        h4 {
            font-family: Raleway, Arial, Verdana, sans-serif;
            color: #21b0b0;
        }

        .hornav,
        .btn,
        .button,
        button {
            font-family: Raleway
        }

        .wrapper960,
        .logo-strip-container {
            width: 1200px;
        }

        .logo {
            top: 0px;
            left: 0px;
        }

        .logo-text {
            color: #c9c9c9;
            font-family: Poiret One;
            font-size: 42px;
        }

        .logo-slogan {
            color: #ffffff;
            font-size: 9px;
        }

        .hornav ul li a,
        .hornav ul li span,
        .hornav>ul>.parent::after,
        .hornav .menu li [class^="fa-"]::before,
        .hornav .menu li [class*=" fa-"]::before {
            color: #ffffff;
        }

        .hornav ul ul li a {
            color: #f5f5f5;
        }

        .hornav ul ul {
            background-color: #242729;
        }

        .hornav ul ul:before {
            border-color: transparent transparent #242729 transparent;
        }

        .sidecol_a {
            width: 27%;
        }

        .sidecol_b {
            width: 40%;
        }

        .owl-theme .owl-nav [class*="owl-"],
        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots .owl-dot:hover span,
        ul.dot li::before,
        .text-primary,
        #container_base h3 {
            color: #21b0b0;
        }

        .j51news .hover-overlay,
        .background-primary {
            background-color: #21b0b0;
        }

        .btn,
        button,
        .btn-group.open .btn.dropdown-toggle,
        .pager.pagenav a,
        .btn-primary:active,
        .btn-primary.active,
        .btn-primary.disabled,
        .btn-primary[disabled],
        .btn:hover,
        .slidesjs-next.slidesjs-navigation,
        .slidesjs-previous.slidesjs-navigation,
        .search .icon-search,
        .dropdown-toggle,
        .label-info[href],
        .badge-info[href],
        .tagspopular a:hover,
        .module .module_header h3::after,
        .module_menu .module_header h3::after {
            background-color: #21b0b0;
            color: #fff;
        }

        .btn,
        .button,
        button {
            background-color: #21b0b0;
        }

        .btn:hover,
        button:hover,
        .btn:focus,
        .btn:active,
        .btn.active,
        .btn.disabled,
        .btn[disabled],
        .readmore .btn:hover,
        .dropdown-toggle:hover,
        .search .icon-search:hover,
        .search .button:hover,
        .owl-theme .owl-nav [class*="owl-"]:hover {
            background-color: #692e13 !important;
            color: #ffffff !important;
        }

        .nav-tabs>.active>a,
        .nav-tabs>.active>a:hover,
        .nav-tabs>.active>a:focus {
            border-bottom-color: #21b0b0;
        }

        blockquote {
            border-color: #21b0b0;
        }

        .btn:hover,
        .button:hover,
        button:hover {
            border-color: #692e13;
        }

        .owl-theme .owl-controls .owl-buttons div {
            background-color: #21b0b0 !important;
        }

        .tags .label-info[href] {
            background-color: transparent;
            color: #21b0b0;
        }

        .owl-theme .owl-controls .owl-buttons div {
            background-color: #21b0b0 !important;
        }

        body {
            background-color: #fff;
        }

        .showcase_seperator svg {
            fill: ;
        }

        #container_main {
            background-color: #ffffff;
        }

        #container_footer {
            background-color: #16191a;
        }

        #container_header {
            background-color: #1c1c1c;
        }

        .header_top {
            background-color: rgba(18, 18, 18, 0.4);
        }

        .header_main {
            background-color: rgba(33, 33, 33, 0.85);
        }

        .page_heading {
            background-color: ;
        }

        .top1_shape>svg {
            fill: #101213;
        }

        @media only screen and (max-width: 1200px) {
            .module_block,
            .wrapper960 {
                width: 100% !important;
            }
            .content_main {
                border-radius: 0;
            }
        }

        @media only screen and (max-width: 1140px) {
            .hornav {
                display: none !important;
            }
            .slicknav_menu,
            .slideout-toggle-open {
                display: block;
            }
            #container_header .wrapper960 {
                flex-wrap: wrap;
            }
            #socialmedia {
                position: static;
                align-self: center;
                transform: none;
            }
            .header_nav,
            .menu-toggle {
                display: flex;
            }
            .header-1 .module,
            .header-2 .module {
                display: flex;
                align-items: center;
            }
        }

        @media only screen and ( max-width: 767px) {
            .header-1 {
                display: none;
            }
        }

        @media only screen and ( max-width: 767px) {
            .showcase {
                display: none;
            }
            .mobile_showcase {
                display: inline;
            }
        }

        @media only screen and (min-width: 768px) {
            .top-1a .module_surround {
                padding-top: 0px !important;
            }
        }

        @media only screen and (min-width: 768px) {
            .top-1b .module_surround {
                padding-top: 40px !important;
            }
        }

        @media only screen and (min-width: 768px) {
            .top-2a .module_surround {
                padding-top: 120px !important;
            }
        }

        @media only screen and (min-width: 768px) {
            .top-2a .module_surround {
                padding-bottom: 100px !important;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 959px) {}

        @media only screen and ( max-width: 767px) {
            #container_top3_modules {
                background-image: none !important;
            }
        }

        @media only screen and (max-width: 440px) {
            #container_top3_modules {
                background-image: none !important;
            }
        }

        @media only screen and (max-width: 767px) {
            .sidecol_a,
            .sidecol_b {
                order: 1 !important;
            }
        }

        #socialmedia ul li a [class^="fa-"]::before,
        #socialmedia ul li a [class*=" fa-"]::before {
            color: #b0b0b0;
        }

        #container_showcase1_modules {
            background-color: #202426
        }

        #container_showcase1_modules>.wrapper960 {
            width: 100%;
        }

        #showcase1_modules.block_holder {
            padding: 0;
        }

        #showcase1_modules.block_holder,
        #showcase1_modules .module_surround,
        #showcase1_modules .module_content {
            padding: 0;
        }

        #container_top1_modules {
            background-color: #101213
        }

        #container_top2_modules {
            background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://af6815798a.imgdist.com/pub/bfra/knkjywkm/dds/clx/cqs/image10.jpeg)
        }

        #container_top2_modules {
            background-color: #202426
        }

        #content_remainder {
            width: 60%
        }

        #container_bottom1_modules {
            background-color: #101213
        }

        #container_bottom2_modules {
            background-image: url(https://www.joomla51.com/demo/0166/images/bottom-2-bg.jpg)
        }

        #container_bottom2_modules {
            background-color: #f0f0f0
        }

        #container_base2_modules {
            background-color: #101213
        }

        .j51-testimonials799 .j51-text-box {
            background-color: rgba(16, 18, 19, 1);
        }

        .j51news723 .j51news_inside {
            margin: 0 -15px;
        }

        .j51news723 .newsitem {
            width: 50%;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .j51news723.j51_news_layout_row-i-c .newsimg,
        .j51news723.j51_news_layout_row-c-i .newsimg {
            flex-basis: 50%;
        }

        @media only screen and (min-width: 960px) and (max-width: 1280px) {
            .j51news723 .newsitem {
                width: 50%;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 959px) {
            .j51news723 .newsitem {
                width: 100%;
            }
        }

        @media only screen and ( max-width: 767px) {
            .j51news723 .newsitem {
                width: 100%;
            }
        }

        @media only screen and (max-width: 440px) {
            .j51news723 .newsitem {
                width: 100%;
            }
        }

        .top1_shape_spacer {
            display: none;
        }

        @media only screen and (min-width: 768px) {
            #container_header,
            .sticky-wrapper {
                position: absolute;
            }
            #container_header {
                background-color: transparent;
            }
            .layerslideshow692 .info {
                opacity: 0;
                transition: opacity .5s;
            }
        }

        .layerslideshow692 .layerslideshow-title {
            color: #2e2e2e;
        }

        .layerslideshow692 .layerslideshow-caption {
            color: #2e2e2e;
        }

        .layerslideshow692,
        .layerslideshow .img-fill {
            max-height: 800px;
        }

        .layerslideshow692 .info-wrapper,
        .layerslideshow .NextArrow,
        .layerslideshow .PrevArrow {
            background-color: rgba(255, 255, 255, 0.77);
        }

        .layerslideshow692 .active .layerslideshow-title,
        .layerslideshow692 .active .layerslideshow-caption {
            -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
        }

        .layerslideshow692 .active .layerslideshow-title {
            -webkit-animation-delay: 0ms;
            animation-delay: 0ms;
        }

        .layerslideshow692 .active .layerslideshow-caption {
            -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
        }

        @media only screen and (max-width: 440px) {
            .layerslideshow692 .layerslideshow-title {
                display: none;
            }
        }

        @media only screen and (max-width: 759px) {
            .layerslideshow692 .layerslideshow-caption {
                display: none;
            }
        }

        @media only screen and (max-width: 440px) {
            .layerslideshow692 .info-wrapper {
                display: none;
            }
        }

        .layerslideshow-title-container,
        .layerslideshow-caption-container {
            overflow: hidden;
        }
